.logo {
  text-align: center;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.grupo-label, .jogos-label {
  padding: 5px;
  color:#134d9a;
  background: #9e9e9e;
}

.jogos-ida-titulo::after, 
.jogos-oitavas-ida-titulo::after,
.jogos-quartas-ida-titulo::after {
  background: #134d9a url(../images/botao-ida.png) no-repeat center;
}

.jogos-volta-titulo::after, 
.jogos-oitavas-volta-titulo::after,
.jogos-quartas-volta-titulo::after {
  background: #134d9a url(../images/botao-volta.png) no-repeat center;
}

.jogos-ida-titulo::after, 
.jogos-volta-titulo::after, 
.jogos-oitavas-ida-titulo::after, 
.jogos-oitavas-volta-titulo::after,
.jogos-quartas-ida-titulo::after, 
.jogos-quartas-volta-titulo::after {
  content: "";
  float: right;
  text-indent: 999px;
  width: 32px;
  margin-top: 3px;
  text-align: center;
  cursor: pointer;
  height: 18px;
}

#formJogadores,
.jogos-volta-titulo, 
.jogos-volta, 
.jogos-oitavas-volta-titulo, 
.jogos-oitavas-volta,
.jogos-quartas-volta-titulo, 
.jogos-quartas-volta {
  display: none;
}

#container {
  width: 500px;
  height: 600px;
}

.jogadoresArray{
  width: 400px;
  margin-top: 10px;
} 

.salvaJogadores {
  margin-left: 15px
}

#mensagens {
  display: none;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s;
  background: #FF0000;
  color: #FFF;
  padding: 7px;
}

.listaJogadores {
  list-style: decimal;
}

.grupoJogosItens {
  border-collapse: collapse; 
  width: 500px;
  border: 1px solid #c5c2c2;
}

.grupoItens {
  width: 100%;
  border-collapse: collapse;
}

.grupoItens tr:nth-child(2), .grupoItens tr:nth-child(3) {
  background: #d0d0d0;
  color: #0d8c31;
}

.grupoItens tr td, .grupoItens tr th {
  border: 1px solid #e4e4e4;
  padding: 5px;
}

.grupoItens tr th.left {
  text-align: left
}

.grupoItens tr td.pontosGrupo {
  text-align: center;
}

.grupoJogosItens tr {
  height: 60px;
  border-bottom:1pt solid #CCC;
  background: #d0cfd2;
}

.grupoJogosItens tr.corNao {
  background: #fff;
}

.grupoJogosItens tr:last-child {
  border-bottom:0
}

.listaJogadores li {
  margin: 3px;
  line-height: 15px;
  font-size: 15px;
}

.colRodada {
  width: 20px;
  text-align: center;
  font-weight: bold
}

.colNomeCasa {
  text-align: right;
  width: 180px;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

.colImagemCasa, .colImagemFora {
  position: relative;
  text-align: center
}

.colVs {
  text-align: center;
}

.colNomeFora {
  text-align: left;
  width: 180px;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

.vencedorCasa span.pontosCasa::before {
  content: "";
  float: right;
  text-indent: 999px;
  width: 16px;
  margin-left: 5px;
  text-align: center;
  height: 16px;
  background: url(../images/winner.png) no-repeat center;
}

.vencedorFora span.pontosFora::after {
  content: "";
  float: left;
  text-indent: 999px;
  width: 16px;
  margin-right: 5px;
  text-align: center;
  height: 16px;
  background: url(../images/winner.png) no-repeat center;
}

.data-atualizacao {
  color:#999
}

.pontosCasa, .pontosFora {
  font-weight: normal;
  font-style: italic;
  font-size: 11px;
  color: #008a00;
  display: block;
  width: 180px;
  margin-top: 5px;
}

.pontosCasa {
  float: right;
}

.pontosFora {
  float: left;
}